.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00284d;
  padding: 18px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.logo-link {
  color: white ;
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  transition: transform 0.3s ease; 
}

.logo-link:hover {
  color: #f3b012;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
}

.nav-links a {
  position: relative;   
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 4px;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 0;
  height: 2px;
  background-color: #ffab0f;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #ffab0f;
}

.nav-links a:hover::after {
  width: 100%; 
}
